.header {
  max-width: 192rem;
  margin: 0 auto;
  border: 1px solid white;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.8rem 11rem 3.8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

@media (max-width: 1530px) {
  .header__wrap {
    padding: 3rem 5rem 3rem 2rem;
  }
}

@media (max-width: 1300px) {
  .header__wrap {
    padding: 3rem 5rem 3rem 2rem;
  }
}

@media (max-width: 850px) {
  .header__wrap {
    padding: 3rem 2rem 3rem 2rem;
  }
}

.header__logo {
  display: block;
  width: 40px;
  height: 40px;
}

.header__nav > a {
  font-size: 1.6rem;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header__nav > a:not(:last-child) {
  margin-right: 7.1rem;
}

@media (max-width: 768px) {
  .header__button {
    display: none;
  }
}

.button {
  border-radius: 50px;
  width: 188px;
  height: 44px;
  font-size: 1.6rem;
  color: #FFFFFF;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (min-width: 767.98px) {
  .button:hover {
    background: linear-gradient(94.26deg, #d5b0ff 9.51%, #9888ff 90.23%);
  }
}
