.main__display {
  position: relative;
  z-index: 10;
  left: 0;
  max-width: 70rem;
  margin-top: 15rem;
  margin-bottom: 22rem;
}

@media (max-width: 1800px) {
  .main__display {
    margin-bottom: 5vw;
  }
}

@media (max-width: 1600px) {
  .main__display {
    margin-top: 8rem;
  }
}

@media (max-width: 1530px) {
  .main__display {
    margin-left: 4rem;
  }
}

@media (max-width: 1380px) {
  .main__display {
    margin-top: 4rem;
  }
}

@media (max-width: 970px) {
  .main__display {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

@media (width: 900px) {
  .main__display {
    margin-bottom: 10rem;
  }
}

@media (max-width: 900px) {
  .main__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
  }
}

.main__display h1 {
  font-weight: 700;
  font-size: 6.4rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@media (max-width: 900px) {
  .main__display h1 {
    font-size: 4rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main__display h1 {
    max-width: 80%;
  }
}

.main__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 7.6rem;
}

@media (max-width: 1300px) {
  .main__timer {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

@media (max-width: 1180px) {
  .main__timer {
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
}

@media (max-width: 950px) {
  .main__timer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.timer__block {
  width: 102px;
  height: 112px;
  background: #121212;
}

@media (max-width: 1300px) {
  .timer__block {
    width: 102px;
    height: 90px;
  }
}

.timer__block:not(:last-child) {
  margin-right: 3rem;
}

.timer__block > p:first-child {
  font-size: 3.6rem;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.timer__block > p:last-child {
  font-size: 1.6rem;
  color: #FFFFFF;
  opacity: 0.4;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.button-pink {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.button-pink:hover {
  background: linear-gradient(94.78deg, #df6e66 11.19%, #441b44 93.72%);
}

@media (max-width: 768px) {
  .button-pink {
    margin-top: 5rem;
  }
}

.main__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 850px) {
  .main__back {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

@media (max-width: 768px) {
  .main__back img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 450px;
    -o-object-position: right;
       object-position: right;
  }
}
