*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  color: #FFFFFF;
  font-size: 62.5%;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, right top, from(#070707), color-stop(#0b0b0b), to(black));
  background: linear-gradient(90deg, #070707, #0b0b0b, black);
}

@media (max-width: 1300px) {
  html, body {
    font-size: 50%;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.header {
  max-width: 192rem;
  margin: 0 auto;
  border: 1px solid white;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.8rem 11rem 3.8rem 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

@media (max-width: 1530px) {
  .header__wrap {
    padding: 3rem 5rem 3rem 2rem;
  }
}

@media (max-width: 1300px) {
  .header__wrap {
    padding: 3rem 5rem 3rem 2rem;
  }
}

@media (max-width: 850px) {
  .header__wrap {
    padding: 3rem 2rem 3rem 2rem;
  }
}

.header__logo {
  display: block;
  width: 40px;
  height: 40px;
}

.header__nav > a {
  font-size: 1.6rem;
  color: #FFFFFF;
}

.header__nav > a:not(:last-child) {
  margin-right: 7.1rem;
}

.button {
  border-radius: 50px;
  width: 188px;
  height: 44px;
  font-size: 1.6rem;
  color: #FFFFFF;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.main__collectPC {
  border: 1px solid white;
}

.main__display {
  position: relative;
  z-index: 10;
  left: 0;
  max-width: 66rem;
  margin-top: 15rem;
}

@media (max-width: 1600px) {
  .main__display {
    margin-top: 8rem;
  }
}

@media (max-width: 1530px) {
  .main__display {
    margin-left: 4rem;
  }
}

@media (max-width: 1380px) {
  .main__display {
    margin-top: 5rem;
  }
}

@media (max-width: 900px) {
  .main__display {
    margin-top: 2rem;
  }
}

@media (max-width: 850px) {
  .main__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__display h1 {
  font-weight: 700;
  font-size: 6.4rem;
}

@media (max-width: 850px) {
  .main__display h1 {
    font-size: 4rem;
    text-align: center;
  }
}

.main__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 7.6rem;
}

@media (max-width: 1300px) {
  .main__timer {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

@media (max-width: 1180px) {
  .main__timer {
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
}

@media (max-width: 950px) {
  .main__timer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.timer__block {
  width: 102px;
  height: 112px;
  background: #121212;
}

@media (max-width: 1300px) {
  .timer__block {
    width: 102px;
    height: 90px;
  }
}

.timer__block:not(:last-child) {
  margin-right: 3rem;
}

.timer__block > p:first-child {
  font-size: 3.6rem;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}

.timer__block > p:last-child {
  font-size: 1.6rem;
  color: #FFFFFF;
  opacity: 0.4;
  text-align: center;
  margin-bottom: 2rem;
}

.button-pink {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 850px) {
  .main__back {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
