*,*::after,*::before{
    box-sizing:border-box ;
}
html,body{
color: #FFFFFF;
font-size: 62.5%;
font-weight: normal;
background: -webkit-linear-gradient(90deg, rgb(7, 7, 7), rgb(11, 11, 11), rgb(0, 0, 0));
background: -moz-linear-gradient(90deg, rgb(7, 7, 7), rgb(11, 11, 11), rgb(0, 0, 0));
background: linear-gradient(90deg, rgb(7, 7, 7), rgb(11, 11, 11), rgb(0, 0, 0));
@media (max-width:1300px) {
    font-size: 50%;
}
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
button,input{
    outline: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 130rem;
    margin: 0 auto;
}
body{
}
@import "header";
@import "SectionCollect"
